@keyframes ldio-ycn6zcb0j2 {
    0% {
        transform: translate(2px, 2px)
    }

    33.33% {
        transform: translate(102px, 2px)
    }

    66.66% {
        transform: translate(42px, 102px)
    }

    100% {
        transform: translate(2px, 2px)
    }
}


.loading-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ldio-ycn6zcb0j2>div {
    transform: scale(0.8);
    transform-origin: 100px 100px;
}

.ldio-ycn6zcb0j2>div>div {
    animation: ldio-ycn6zcb0j2 1.3s linear infinite;
    position: absolute
}

.ldio-ycn6zcb0j2>div>div div:nth-child(1) {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 12px solid #dca14a;
    background: #ffffff85
}

.ldio-ycn6zcb0j2>div>div div:nth-child(2) {
    width: 17px;
    height: 51px;
    transform: rotate(-45deg);
    background: #dca14a;
    border-radius: 0 0 8px 8px;
    position: absolute;
    top: 68px;
    left: 85px
}

.loadingio-spinner-magnify-0n35bg6fv0o {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.ldio-ycn6zcb0j2 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-ycn6zcb0j2 div {
    box-sizing: content-box;
}